html { 
  background: url(/dock\ pic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}  
h3{
  color: antiquewhite;
}
#label-1{
  color: deeppink;
}
#hide-1 {
  color: deepskyblue;
}
#container{
 margin: 4em 29em;
}
#topic-buttons {
  margin-bottom: 2em;
}
.gif-btn {
  background-color: aqua;
  margin: 3px;
}
#btn-2 {
  background-color: #ff00ec;
  margin: 13px;
}
.ply-gif-2 {
  margin: 3em;
}
